[submodule "w1_module_python/w1_lessons/02_excersices"]
	path = w1_module_python/w1_lessons/02_excersices
	url = https://github.com/MatiusDev/python-excersices.git
[submodule "w3_module_javascript/lessons/crudy"]
	path = w3_module_javascript/lessons/crudy
	url = https://github.com/MatiusDev/crudy.git
[submodule "w3_module_javascript/lessons/crudzocial"]
	path = w3_module_javascript/lessons/crudzocial
	url = https://github.com/MatiusDev/crudzocial.git
[submodule "w2_module_html_css/lessons/pizzeria-alcapone"]
	path = w2_module_html_css/lessons/pizzeria-alcapone
	url = https://github.com/MatiusDev/pizzeria-alcapone.git
[submodule "w2_module_html_css/moodle/portafolio"]
	path = w2_module_html_css/moodle/portafolio
	url = https://github.com/MatiusDev/portfolio-riwi.git
[submodule "w2_module_html_css/moodle/spotify"]
	path = w2_module_html_css/moodle/spotify
	url = https://github.com/MatiusDev/spotify.git
